// color variables
$orange: #fc5404;
$purple: #87629a;
$green-dark: #136c72;
$green-darkest: #23424a;
$light-pink: #ffeff0;
$yellow: #f5d67b;
$white: #fff;
$grey: #999;
$blue: #0d6efd;
$black: #212121;

// z indexes
$layer-1: 100;
$layer-2: 200;
$layer-3: 300;
$layer-4: 400;
$layer-5: 230949032849082300;

// sizes for stuff
$size-0: 0.25rem;
$size-1: 0.5rem;
$size-2: 0.75rem;
$size-3: 1rem;
$size-4: 1.25rem;
$size-5: 1.5rem;
$size-6: 1.75rem;
$size-7: 2rem;
$size-8: 3rem;
$size-9: 4rem;
$size-10: 5rem;
$size-11: 7.5rem;
$size-12: 10rem;
$size-13: 15rem;
$size-14: 20rem;
$size-15: 30rem;

$size-content-1: 20ch;
$size-content-2: 30ch;
$size-content-3: 40ch;
$size-content-4: 60ch;

// font sizes
$font-size-00: 0.5rem;
$font-size-0: 0.75rem;
$font-size-1: 1rem;
$font-size-2: 1.1rem;
$font-size-3: 1.25rem;
$font-size-4: 1.5rem;
$font-size-5: 2rem;
$font-size-6: 2.5rem;
$font-size-7: 3rem;
$font-size-8: 3.5rem;
